@charset "utf-8";
/* CSS Document */
.animated{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* fadeInDown : 缓慢降落 */
/* -webkit- */
@-webkit-keyframes fadeInDown{0%{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} 100%{opacity: 1; -webkit-transform: none; transform: none;}}
/* */
@keyframes fadeInDown{0%{opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} 100%{opacity: 1; -webkit-transform: none; transform: none;}}
.fadeInDown{-webkit-animation-name: fadeInDown; animation-name: fadeInDown;}

/* fadeInDownEx : 缓慢降落（增强） */
/* -webkit- */
@-webkit-keyframes fadeInDownEx{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/* */
@keyframes fadeInDownEx{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInDownEx{-webkit-animation-name:fadeInDownEx;animation-name:fadeInDownEx;}

/* shake : 左右摇晃 */
/* -webkit- */
@-webkit-keyframes shake{0%, 100%{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} 10%, 30%, 50%, 70%, 90%{-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0);} 20%, 40%, 60%, 80%{-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0);}}
/* */
@keyframes shake{0%, 100%{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} 10%, 30%, 50%, 70%, 90%{-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0);} 20%, 40%, 60%, 80%{-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0);}}
.shake{-webkit-animation-name: shake; animation-name: shake;}

/* bounce : 弹跳 */
/* -webkit- */
@-webkit-keyframes bounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}
/* */
@keyframes bounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}
.bounce{-webkit-animation-name:bounce;animation-name:bounce;-webkit-transform-origin:center bottom;transform-origin:center bottom;}

/* pulse : 心脏跳动 */
/* -webkit- */
@-webkit-keyframes pulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}
/* */
@keyframes pulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}
.pulse{-webkit-animation-name:pulse;animation-name:pulse;}

/* bounceInDown : 自由落体并反弹 */
/* -webkit- */
@-webkit-keyframes bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}
/* */
@keyframes bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown;}

/* fadeInLeft : 左侧飞入 */
/* -webkit- */
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/* */
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}


/* bounceInLeft : 左侧飞入并反弹 */
/* -webkit- */
@-webkit-keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}
/* */
@keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}
.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft;}

/* fadeInRight : 右侧飞入 */
/* -webkit- */
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/* */
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}

/* bounceInRight : 右侧飞入并反弹 */
/* -webkit- */
@-webkit-keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}
/* */
@keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}
.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight;}

/* fadeInUp : 地鼠 */
/* -webkit- */
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/* */
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}

/* fadeInUpEX : 火箭 */
/* -webkit- */
@-webkit-keyframes fadeInUpEX{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/* */
@keyframes fadeInUpEX{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInUpEX{-webkit-animation-name:fadeInUpEX;animation-name:fadeInUpEX;}

/* bounceOutUp : 武当梯云纵 */
/* -webkit- */
@-webkit-keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}
/* */
@keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}
.bounceOutUp{-webkit-animation-name:bounceOutUp;animation-name:bounceOutUp;}

/* bounceOutDown : 跳水 */
/* -webkit- */
@-webkit-keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}
/* */
@keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}
.bounceOutDown{-webkit-animation-name:bounceOutDown;animation-name:bounceOutDown;}

/* bounceOutLeft : 向左侧飞出 */
/* -webkit- */
@-webkit-keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}
/* */
@keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}
.bounceOutLeft{-webkit-animation-name:bounceOutLeft;animation-name:bounceOutLeft;}

/* bounceOutRight : 向右侧飞出 */
/* -webkit- */
@-webkit-keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}
/* */
@keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}
.bounceOutRight{-webkit-animation-name:bounceOutRight;animation-name:bounceOutRight;}

/* zoomIn : 缩放淡入 */
/* -webkit- */
@-webkit-keyframes zoomIn{0%{-webkit-transform: scale(0.2);transform: scale(0.2);opacity: 0;}100%{-webkit-transform: scale(1);transform: scale(1);-webkit-transition-timing-function:ease-in;opacity: 1;}}
@keyframes zoomIn{0%{transform: scale(0.2);opacity: 0;}100%{ transform: scale(1);opacity: 1;}}
.zoomIn{-webkit-animation-name:zoomIn;-webkit-animation-duration: 0.3s;animation-name:zoomIn;animation-duration: 0.3s;}

/* zoomOut : 缩放淡出 */
/* -webkit- */
@-webkit-keyframes zoomOut{0%{-webkit-transform: scale(1);transform: scale(1);opacity: 1;}100%{ -webkit-transform: scale(0.2);transform: scale(0.2);opacity: 0;}}
/* */
@keyframes zoomOut{0%{transform: scale(1);opacity: 1;}100%{transform: scale(0.2);opacity: 0;}}
.zoomOut{-webkit-animation-name:zoomOut;-webkit-animation-duration: 0.3s;animation-name:zoomOut;animation-duration: 0.3s;}

