@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3mg27m');
  src:  url('fonts/icomoon.eot?3mg27m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3mg27m') format('truetype'),
    url('fonts/icomoon.woff?3mg27m') format('woff'),
    url('fonts/icomoon.svg?3mg27m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e900";
}
.icon-arrow-long-up:before {
  content: "\e901";
}
.icon-arrow-long-right:before {
  content: "\e902";
}
.icon-arrow-long-left:before {
  content: "\e903";
}
.icon-arrow-long-down:before {
  content: "\e904";
}
.icon-search-minus:before {
  content: "\e905";
}
.icon-search-plus:before {
  content: "\e906";
}
.icon-printer:before {
  content: "\e907";
}
.icon-trash-can:before {
  content: "\e908";
}
.icon-trash-can2:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-eye2:before {
  content: "\e90b";
}
.icon-lock:before {
  content: "\e90c";
}
.icon-secure:before {
  content: "\e90c";
}
.icon-x:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-bell-off:before {
  content: "\e90f";
}
.icon-bell:before {
  content: "\e910";
}
.icon-refresh-cw:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-chevron-right:before {
  content: "\e913";
}
.icon-chevron-left:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-chevron-up:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-star:before {
  content: "\e918";
}
.icon-star_half:before {
  content: "\e919";
}
.icon-star_border:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-arrow_drop_down:before {
  content: "\e91c";
}
.icon-arrow_drop_up:before {
  content: "\e91d";
}
.icon-arrow_forward:before {
  content: "\e91e";
}
.icon-arrow_back:before {
  content: "\e91f";
}
.icon-arrow_downward:before {
  content: "\e920";
}
.icon-arrow_upward:before {
  content: "\e921";
}
.icon-cloud_upload:before {
  content: "\e922";
}
.icon-mode_edit:before {
  content: "\e923";
}
.icon-close:before {
  content: "\e924";
}
.icon-cancel:before {
  content: "\e925";
}
.icon-chevron-right2:before {
  content: "\e949";
}
.icon-chevron-left2:before {
  content: "\e94a";
}
.icon-circle:before {
  content: "\e948";
}
.icon-cart-plus:before {
  content: "\e926";
}
.icon-envelope-o:before {
  content: "\e927";
}
.icon-envelope:before {
  content: "\e928";
}
.icon-chain-broken:before {
  content: "\e929";
}
.icon-unlink:before {
  content: "\e929";
}
.icon-chain:before {
  content: "\e92a";
}
.icon-link:before {
  content: "\e92a";
}
.icon-commenting-o:before {
  content: "\e92b";
}
.icon-comments-o:before {
  content: "\e92c";
}
.icon-comment-o:before {
  content: "\e92d";
}
.icon-tags:before {
  content: "\e92e";
}
.icon-tag:before {
  content: "\e92f";
}
.icon-folder-open-o:before {
  content: "\e930";
}
.icon-folder-o:before {
  content: "\e931";
}
.icon-heart-o:before {
  content: "\e932";
}
.icon-thumbs-o-down:before {
  content: "\e933";
}
.icon-thumbs-o-up:before {
  content: "\e934";
}
.icon-thumbs-down:before {
  content: "\e935";
}
.icon-thumbs-up:before {
  content: "\e936";
}
.icon-recycle:before {
  content: "\e937";
}
.icon-cogs:before {
  content: "\e938";
}
.icon-gears:before {
  content: "\e938";
}
.icon-cog:before {
  content: "\e939";
}
.icon-gear:before {
  content: "\e939";
}
.icon-cloud-download:before {
  content: "\e93a";
}
.icon-minus-circle:before {
  content: "\e93b";
}
.icon-minus:before {
  content: "\e93c";
}
.icon-plus-circle:before {
  content: "\e93d";
}
.icon-qq:before {
  content: "\e93e";
}
.icon-venus:before {
  content: "\e93f";
}
.icon-mars:before {
  content: "\e940";
}
.icon-user:before {
  content: "\e941";
}
.icon-home:before {
  content: "\e942";
}
.icon-image:before {
  content: "\e943";
}
.icon-images:before {
  content: "\e944";
}
.icon-folder:before {
  content: "\e945";
}
.icon-folder-open:before {
  content: "\e946";
}
.icon-phone:before {
  content: "\e947";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-download:before {
  content: "\e9c7";
}
.icon-upload:before {
  content: "\e9c8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
